$primary-500: #192A47;

.search-container {
  margin-top: 50px;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-input {
      padding: 10px;
      width: 350px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
			@media screen and (max-width: 440px) {
				width: 80%;
			}
    }

    .secondary-input {
      padding: 10px;
      width: 250px; /* Adjust width as needed */
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
			@media screen and (max-width: 440px) {
				width: 50%;
			}
    }

    .search-button {
      padding: 10px 20px;
      border: none;
      background-color: #3d61b7;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
			margin-top: 16px;
			margin-bottom: 32px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}