.search-container {
  margin-top: 50px;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-input {
      padding: 10px;
      width: 350px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .secondary-input {
      padding: 10px;
      width: 250px; /* Adjust width as needed */
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .search-button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
			margin-top: 16px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}