$font-stack: Helvetica, sans-serif;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C8D8E9;

  .App {
    padding: 16px;
  }

  .title {
    text-align: center;
    margin-top: 5vh;
  }
  .flex-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    @media screen and (max-width: 440px) {
      flex-direction: column;
    }
  }

  .no-papers-prompt{
    text-align: center;
    margin-top: 100px;
  }
}
